<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | Historique des payes</title>
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        <style media="screen">
        {% block style %}{% endblock %}
        </style>

        <link rel="icon" type="image/x-icon" href="{{ asset('simsu.ico') }}" />
    </head>
    <body>
      <div id="container">
        {% block body %}{% endblock %}
      </div>
      <script text="text/javascript" src="{{ asset('js/jquery-3.1.1.js')}}"></script>
      {% block javascripts %}{% endblock %}
    </body>
</html>
