{% extends 'base.html.twig' %}

{% block title %}
  Identification
{% endblock %}

{% block body %}
  <h1>Logiciel d'historique des payes</h1>
  <h2>Bienvenue dans l'application de l'historique des payes et carrières.</h2>
  <div class="attention_texte">
    <p>Attention:<br>
      <br>
      Pour le bon déroulement de la procédure, nous vous invitons à ne pas utiliser, plus d'une fois, les boutons "Précédent" et "Suivant" de votre navigateur. <br>
      <br>
      Pour des questions de sécurité et de confidentialité, le temps imparti à votre navigation est limité (mais suffisant).<br>
      En cas de dépassement de celui-ci, cliquez sur "re-enter".
    </p>
  </div>
  <!--<button name="toAuth" title="Continuer" type="submit" value="Continuer">Continuer</button>-->
  <form>
    <input class="button" type="button" value="Continuer" onclick="window.location.href={{ path('authentication') }}" />
  </form>

  <br>

  <div>
    Remarque: le chargement de cette page et de la page d'authentification entraîne la déconnexion automatiquement.
  </div>
{% endblock %}

{% block style %}
  body {background-image: url({{ asset('/assets/bgs/' ~ image)}});}
{% endblock %}
